{% extends 'base.html' %}
{% block mainpage %}

<div class="row">
    <h2>Content</h2>
    {% for v in videos %}
    <div class="row">
<!--        <div class="col-sm-4">-->
            <div class="panel">
                <img src="{{ url_for('static', path='/images/play_button_upd.jpg') }}" style="height: 280px">
                <div style="width: 395px; margin-top: 10px">
                    <a style="text-align: center; " href="{{ url_for('single_video_page', video_id=v.Video.id) }}">
                        <h3>{{ v.Video.title }}</h3><br></a>
                </div>
            </div>
<!--        </div>-->
    </div>
    {% endfor %}
</div>
{% endblock %}
